<!doctype html>
<html>
	<body>	
		<form action = "{{ url_for('addmember') }}" method = "POST">
			<h3>ADD</h3></br>
			Name
			<input type = "text" name="nm" />
			Project
			<input type = "text" name="pj" /></br>
			<input type = "submit" value = "submit" /><br>
		</form>

		<form action = "{{ url_for('delmember') }}" method = "POST">
			<h3>DEL</h3>
			Project
			<input type = "text" name="pj" /></br>
			<input type = "submit" value = "DEL" /><br>
		</form>

		<table border = 1>
			<thead>
				<td>Name</td>
				<td>Project</td>
			</thead>

			{% for row in rows %}
			<tr>
				<td>{{row["name"]}}</td>
				<td>{{row["project"]}}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
